@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&display=swap');

body {
    color: rgb(0, 0, 0);
    font-family: 'lato', sans-serif;
    text-align: center;
}

#index {
    background-image: url("../images/background-main-image.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100%;
}

#hi-scores {
    background-image: url("../images/hi-scores-background-image.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.2rem;
    font-weight: 700;
}

p {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 1.5px;
}

#title {
    padding: 30px 10px 150px;
    text-decoration: underline;
}
#greeting-title{
    font-weight: bolder;
}

#greeting-text {
    line-height: 250%;
}

.container1 {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    width: 85%;
    height: 100vh;
}

.btn{
    background-color: rgba(255, 255, 255, 0.65);
    border: none;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 10px;
    font-size: large;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.btn:hover {
    background-color: white;
}
