@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&display=swap');

body {
    color: rgb(0, 0, 0);
    font-family: 'lato', sans-serif;
    text-align: center;
}

#index {
    background-image: url("../images/background-main-image.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100%;
}

#hi-scores {
    background-image: url("../images/hi-scores-background-image.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.2rem;
    font-weight: 700;
}

#title {
    padding: 30px 10px 150px;
    text-decoration: underline;
}
#greeting-title{
    font-weight: bolder;
}

#greeting-text {
    line-height: 250%;
}

.container1 {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    width: 85%;
    height: 750px;
    align-items: center;
}


.btn{
    background-color: rgba(255, 255, 255, 0.65);
    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 10px;
    margin: 7.5px;
    padding: 15px;
    font-size: large;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s ease;
}
.btn:hover, button:hover, .info-box .rules-buttons button:hover {
    background-color: white;
    border: 1px solid #c7c2c2c2;
    transition: all 0.5s ease;
}

#scores-btn {
    position: absolute;
    top: 680px;
    left: 37%;
}

#answer-btn {
    box-sizing: border-box;
}

#start-btn {
    position: absolute;
    top: 50%;
    left: 39%;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.5rem;
}

.info-box{
    display: none;
    position: absolute;
    width: 600px;
    top: 20%;
    left: 28%;
    background:rgba(255, 255, 255, 0.65);
    border-radius: 10px;
    padding: 15px;    
}

.quiz-box {
    display: none;
    position: absolute;
    width: 600px;
    top: 20%;
    left: 28%;
    background:rgba(255, 255, 255, 0.65);
    border-radius: 10px;
    padding: 15px;    
}

.info-box .info-title {
    height: 40px;   
    width: 100%;
    border-bottom: 1px solid #c7c2c2c2;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 1.5px;
}

.info-box .rules-list {
    padding: 15px;
}
.info-box .rules-list .info {
    margin: 7.5px 0;
    font-size: 1.2rem;
}

.info-box .rules-list .info span {
    font-weight: 900;
}

.info-box .rules-buttons {
    margin: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 45px;
}

.info-box .rules-buttons button {
    margin: auto;
    height: 50px;
    width: 175px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.65);
    border: 1px solid rgba(255, 255, 255, 0.65) transparent;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.quiz-box header {
    height: 60px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c7c2c2c2;
    line-height: 150%;
    letter-spacing: 1.5px;
}

.quiz-box header .title {
    font-size: 1.3rem;
    font-weight: 600;
}

.quiz-box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    height: 50px;
    background-color: #c7c2c2c2;
    border: 1px solid #c7c2c2c2;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 1.1rem;
    font-weight: 600;
}

.quiz-box header .timer .timer-text {
    user-select: none;
}

.quiz-box header .timer-seconds {
    background-color: rgba(255, 255, 255, 0.65);
    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 10px;
    padding: 5px;
}

.quiz-box section .question {
    font-size: 1.2rem;
    padding: 10px 0;
}

.quiz-box section .answer-list {
    padding: 25px 0;
    display: block;
}

section .answer-list .answer-option {
    background-color: #c7c2c2c2);
    border: 1px solid #c7c2c2c2;
    padding: 5px 0;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.5s ease;
}

.answer-list .answer-option:last-child{
    margin-bottom: 0px;
}

section .answer-list .answer-option:hover {
    background-color: white;
    border: 1px solid #c7c2c2c2;
}

.quiz-box footer {
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.quiz-box footer .total-questions span {
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.quiz-box footer .total-questions span p{
    font-weight: 700;
    padding: 0 5px;
}

footer .total-questions span {
    padding: 0 7.5px;
    font-weight: 400;
}

footer .total-questions span:first-child {
    padding-left: 0px;
}

footer .next-btn {
    height: 40px;
    padding: 0 15px;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    outline: none;
    background: #c7c2c2c2;
    margin: 10px 20px 0 0;
    border: 1px solid #c7c2c2c2;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

footer .next-btn:hover {
    background-color:#929191c2;
    border: 1px solid #929191c2;
}

